@use "../../styles/variables";

$padding-horizontal: 48rpx;
$padding-vertical: 32rpx;
$padding-vertical-large: 48rpx;
$gap-x: 16rpx;
$gap-y: 8rpx;

.cell-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  border: none !important;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  justify-content: unset;
  overflow: unset;

  .cell-icon, .cell-icon-custom {
    margin-right: $gap-x;
  }

  .cell-value, .cell-value-icon, .cell-action-icon {
    margin-left: $gap-x;
  }

  .cell-icon, .cell-value-icon, .cell-action-icon {
    font-size: variables.$font-size-cell-title;
  }

  .cell-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: auto;
  }

  .cell-title {
    font-size: variables.$font-size-cell-title;
    font-weight: variables.$font-weight-cell-title;
  }

  .cell-description {
    margin-top: $gap-y;
    font-size: variables.$font-size-cell-description;
    font-weight: variables.$font-weight-cell-description;
  }

  .cell-value {
    font-size: variables.$font-size-cell-title;
    font-weight: variables.$font-weight-cell-title;
    flex: none;
  }

  &.cell-large {
    padding-top: $padding-vertical-large;
    padding-bottom: $padding-vertical-large;

    .cell-icon-custom {
      margin-right: variables.$gap-heading;
    }

    .cell-icon {
      font-size: variables.$font-size-cell-large-title;
    }

    .cell-title, .cell-value {
      font-size: variables.$font-size-cell-large-title;
      font-weight: variables.$font-weight-cell-large-title;
    }
  }

  &:first-child {
    border-top-left-radius: variables.$round-radius-medium;
    border-top-right-radius: variables.$round-radius-medium;
  }

  &:last-child {
    border-bottom-left-radius: variables.$round-radius-medium;
    border-bottom-right-radius: variables.$round-radius-medium;
  }

  &.has-divider, &:not(:last-child) {
    border-bottom: 1rpx solid !important;
  }
}

@mixin theme-light {
  color: variables.$text-color-body;
  border-color: variables.$divider-color !important;

  &.cell-hover {
    background-color: variables.$cell-hover-color;
  }

  .cell-description, .cell-value {
    color: variables.$text-color-description;
  }

  .cell-value-icon, .cell-action-icon {
    color: variables.$text-color-hint;
  }
}

@mixin theme-dark {
  color: variables.$text-color-body-white;
  border-color: variables.$divider-color-white !important;

  &.cell-hover {
    background-color: variables.$cell-hover-color-white;
  }

  .cell-description, .cell-value {
    color: variables.$text-color-description-white;
  }

  .cell-value-icon, .cell-action-icon {
    color: variables.$text-color-hint-white;
  }
}

.cell-container.theme-light, .cell-container.theme-auto {
  @include theme-light;
}

.cell-container.theme-dark {
  @include theme-dark;
}

@media (prefers-color-scheme: dark) {
  .cell-container.theme-auto {
    @include theme-dark;
  }
}
