function processUrl(url, process) {
  if (process === 'filename') {
    var parts = url.split('.');
    parts[parts.length - 2] = parts[parts.length - 2] + '-thumbnail';
    return parts.join('.');
  } else {
    return url + '?x-oss-process=style/' + process;
  }
}

module.exports = {
  processUrl: processUrl
};
