/* app.wxss */
@import "miniprogram_npm/@vant/weapp/common/index.wxss";

:host {
  display: contents;
}

page {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei',
    sans-serif;
  background-color: #f7f8fa;

  margin-bottom: 48rpx;

  /* custom theme */
  --button-border-radius: 8px;
}

.font-monospace {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace !important;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0 40rpx;
  box-sizing: border-box;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.text-center {
  text-align: center !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.select-text {
  -moz-user-select: text !important;
  -webkit-user-select: text !important;
}

.lead {
  display: block;
  margin-bottom: 24rpx;
  font-size: 120%;
}

.title {
  display: block;
  text-align: center;
  margin: 48rpx 0;
  font-size: 130%;
}

.paragraph {
  display: block;
  margin-bottom: 24rpx;
}

.small {
  font-size: 80%;
  color: #969799;
}

.puppet {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-align: unset;
  border-radius: unset;
  cursor: auto;

  &:before {
    display: none !important;
  }

  &:after {
    display: none !important;
  }
}

.text-danger {
  color: #ee0a24 !important;
}

.cell-group-following {
  margin-top: 16px !important;
}

.cell-content {
  background-color: var(--collapse-item-content-background-color, #fff);
  color: var(--collapse-item-content-text-color, #969799);
  font-size: var(--collapse-item-content-font-size, 13px);
  line-height: var(--collapse-item-content-line-height, 1.5);
  padding: var(--collapse-item-content-padding, 15px);
}
