// app.scss

@use "./styles/bootstrap-icons" with (
  $bootstrap-icons-font-dir: "https://f.zka.cslab.top/assets/bootstrap-icons/fonts"
);

@use "./styles/cards";
@use "./styles/frame";
@use "./styles/utilities";
@use "./styles/variables";

page, view, scroll-view, text, rich-text, span, image, open-container, grid-view {
  position: relative;
  box-sizing: border-box;
  background-origin: border-box;
  isolation: isolate;
}

page, .page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei',
    sans-serif;
  color: variables.$text-color-body;
  background: none;
  font-size: variables.$font-size-body;
  font-weight: variables.$font-weight-body;
  overflow: hidden;
}

page {
  height: 100%;
}

.page {
  flex: 1;

  &.bg {
    background-color: variables.$color-background-combined;
  }

  @media (prefers-color-scheme: dark) {
    color: variables.$text-color-body-white;

    &.bg {
      background-color: variables.$color-background-dark-combined;
    }
  }
}

scroll-view {
  width: 100%;
  flex: 1;
  height: 100%;
  overflow: auto;
}
